@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Condensed+One&display=swap');


.page-container {

    display: flex;
<<<<<<< HEAD
    background-color: colors/neutral/100;
   
=======
>>>>>>> 7e1a854421f7b184fc906d33ba37fdbf8a8db461


}


.titulo {

    font-size: 24px;
    font-family: "inter";
    font-weight: normal;
    margin-bottom: 16px;
    font-weight: bold;
<<<<<<< HEAD
    
=======
>>>>>>> 7e1a854421f7b184fc906d33ba37fdbf8a8db461


}

.inpt {

    padding: 10px;
    width: 377px;
    margin-bottom: 16px;
    background-color: #F7F9FB;
    border-radius: 10px;
    border: none;
    /* Define a cor do fundo e os espaçamento interno */
<<<<<<< HEAD

    
}



.btm {

    border: none;
=======
}

.btm {
>>>>>>> 7e1a854421f7b184fc906d33ba37fdbf8a8db461
    padding: 10px;
    border-radius: 10px;
    background-color: #335CFF;
    color: #f7f9fb;
    width: 377px;

<<<<<<< HEAD
    cursor: pointer;
    transition: all ease 0.5s;

}

button:hover {

    transform: scale(1.2);

=======
>>>>>>> 7e1a854421f7b184fc906d33ba37fdbf8a8db461
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;


}

.logo {

    height: 38px;
<<<<<<< HEAD
    margin-top: 40px;
    

}

.barra {

size: 1px;


}

.subtitulo {

    font-size: 14px;
    font-family: "inter";
    font-weight: 100px;
    margin-bottom: 16px;
    color: grey;
    


}

.borda-interna {

    
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    height: 60vh;
    background-color: white;
    width: 30vw;
    box-shadow: 1px 8px 8px 8px #ccc;


}

.textPassword {

display: flex;
justify-content: flex-start;
margin-left: 100px;
font-family: "inter";
font-size: 14px;

}

.textEmail {

display: flex;
justify-content: flex-start;
margin-left: 100px;
font-family: "inter";
font-size: 14px;

margin-top: 50px;

}

.form-hint {

    
    font-family: "Inter";
    font-weight: auto;
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 20px;
    

    font-size: 14px;

}

.senhaSubtitulo {

    font-size: 14px;
    font-family: "inter";
    font-weight: 100px;
    margin-bottom: 16px;
    color: grey;
    
    margin-right: 230px;
    margin-top: none;


}
=======

}

>>>>>>> 7e1a854421f7b184fc906d33ba37fdbf8a8db461
