@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.botoes {

     width: 75px;
    margin-top: 20px;
    border: none;
    background-color: white;
    font-family: inter;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 

}


.tela-principal {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}



.caixa-esquerda {
    width: 20vw;
    height: 100vh;
    /* background-color: blue; */
    padding-top: 1vw;
    border-right: 1px solid #E0E4EA;
    margin-left: 10px;
    background-color: #335CFF;
}

.caixa-direita {
    width: 80vw;
    height: 86vh;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    background-color: aqua;

}

.linha {
    width: 240px;
    height: 1px;
    background-color: black;
    size: 1px;
    margin-top: 10px;

}


.direita-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 15vh;
    margin-left: 2px;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 200px;
    border-bottom: 1px solid #E0E4EA;
    background-color: aquamarine;


}

.create-new {

    border: none;
    background-color: #335CFF;
    width: 342px;
    height: 41px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Inter";

}

.botao {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E0E4EA;
}

.superior-esquerda {

    border-bottom: 1px solid #E0E4EA;
}


.direita-meio {

    width: 600px;
    height: 86vh;
    top: 81px;
    left: 562px;
    border-right: 1px solid #E0E4EA;
    border-left: 1px solid #E0E4EA;
    margin-bottom: 100px;
    border-bottom: 1px solid #E0E4EA;
    background-color: blanchedalmond;


}

.imagem-central {

    background-image: url("../../assets/imgs/Rectangle 44.svg");
    height: 135px;
    width: 540px;
    margin-top: 10px;
    margin-left: 30px;

}

.textoImage {
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 80px;
    border-radius: 10px; 
    height: 200px;



}
.pesquisa {

    margin-top: auto;
    margin-bottom: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: none;
    padding-left: 20px;
    padding-right: 180px;
}

.input {

    margin-top: 0vh;
    width: 220px;
    height: 15px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    padding: 12px;

}

.tag-meio1 {

    display: flex;
    font-size: 20px;
    margin-left: 100px;

}

.tags.p {

    margin-right: 140px;
    font-family: Inter;
    font-size: 12px;
}

.linha-meio {

    margin-top: -61px;
    height: 460px;
    border-bottom: 1px solid #E0E4EA;
    border-top: 1px solid #E0E4EA;




}

.save-note {
    height: 40px;
    width: 120px;
    background-color: #335CFF;
    border-radius: 15px;
    margin-right: 25px;
    font-size: 15;
  

}

.cancel {
    height: 40px;
    width: 100px;
    background-color: #F3F5F8;
    border-radius: 15px;
    flex-direction: column;

}



.botao-inferior {
    margin-top: 20px;
    height: 88px;
    width: 200px;
    display: flex;
    border-radius: 15px;
    background-color: transparent;
    margin-left: 10px;

}

.seta {

    display: flex;
    justify-content: left ;
    align-items: center;
    width: 100%;

}


.controle-botao {

    display: flex;
    height: 80px;
    width: 600px;

    
}

.direita-total{


    height: 86vh;
    width: 90vw;
    justify-content: center;
    background-color: red;
}

.archived {

    margin-left: 20px;
    align-items: center;
}

.delete {

    margin-left: 20px;
        align-items: center;
}



