@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.botoes {

    width: 75px;
    margin-top: 20px;
    border: none;
    background-color: white;
    font-family: inter;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

}


.tela-principal {
    display: flex;
    width: 100vw;
    height: 100vh;
}



.caixa-esquerda {
    width: 20vw;
    height: 100vh;
    /* background-color: blue; */
    padding-top: 1vw;
    padding-left: 1vw;
    border-right: 1px solid black;
}

.caixa-direita {
    width: 80vw;
    height: 100vh;
    justify-content: flex-start ;
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    

}

.linha {
    width: 240px;
    height: 1px;
    background-color: black;
    size:1px;
    margin-top: 10px;
    
}

.linha1 {
    height: 1px;
    background-color:grey;

    
}

.direita-cabecalho {
justify-content: center;
display: flex;

justify-content: space-between;
margin-right:300px;

}

.create-new {

    border: none;    /* Para retirar a borda */
    background-color:#335CFF;
    width: 242px;
    height: 41px;
    border-radius: 10px;
    margin-top:10px;
    
}

.botao {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5px;
    
    }

.superior-esquerda {

    border-bottom: 1px solid gray;
}

.tag-lareral {

    display: flex;
    align-items: center;
}


.direita-meio {

width: 600px;
height: 819px;
top:    81px;
left  :562px;
display: flex;


}

.imagem-central {

    background-image: url("../../assets/imgs/Rectangle 44.svg");
    height: 135px;
    width: 540px;
    margin-top: 100px;
    margin-left: 50px;


    

}